@font-face {
     font-family: Freight_Neo_Pro;
       src: url('https://artesvisuais.github.io/fonts/Freight_Neo_Pro_Book.otf');
}
html, body {
 text-align: justify;font-family:Freight_Neo_Pro, 
Arial,Helvetica,sans-serif;font-size: 1.1em;overflow-wrap: break-word; word-wrap: break-word; -
webkit-hyphens: auto; -ms-hyphens: auto; -moz-hyphens: auto; hyphens: auto;
  background: #413cae; }

             img {text-align:center;width:100%;}
               h1 {color:#239985;font-weight: 500;font-family:Freight_Neo_Pro,Arial,Helvetica,sans-serif;font-style: italic;}
                h2 {color:#239985;font-family:Freight_Neo_Pro,Arial,Helvetica,sans-serif; } 
                 h3 {color:#239985;font-family:Freight_Neo_Pro,Arial,Helvetica,sans-serif;}
               ul { text-align:left; color:#0b1182;}
                p { margin: 5px 0 15px;text-align: justify;  text-indent: 2em; font-family:Freight_Neo_Pro,Arial,Helvetica,sans-serif; overflow-wrap: break-word; word-wrap: break-word; webkit-hyphens: auto; -ms-hyphens: auto; -moz-hyphens: auto; hyphens: auto;}
                   p.base{ margin: 5px 0 15px;  text-align: justify;
                            text-indent: 2em;font-family:Freight_Neo_Pro, Arial,Helvetica,sans-serif;font-size: 0.75em;overflow-wrap: break-word; word-wrap: break-word; -webkit-hyphens: auto; -ms-hyphens: 
auto; -moz-hyphens: auto; hyphens: auto;}
                      p.red { padding:0 8% 0 8% ;color:#b20000; font-size:small;font-family: Freight_Neo_Pro; Monospace,Verdana,Arial,Helvetica,sans-serif; font-style: italic; overflow-wrap: break-word; word-wrap: break-word; -
webkit-hyphens: auto; -ms-hyphens: auto; -moz-hyphens: auto; hyphens: auto;}

                       p.ref { padding:0 5% 0 5% ;color:#0645B1; font-size:small;font-family: Freight_Neo_Pro, arial, helvetica, sans-serif ; overflow-wrap: break-word; word-wrap: break-word; -webkit-hyphens: auto; -ms-hyphens: auto; -moz-hyphens: auto; 
hyphens: auto;}
                                  
      
                               p.gravu { padding:0 8% 0 8% ;color:#304561;background-color:#c2c8c3; font-size:small; text-transform: uppercase;font-family: Monospace,Verdana,Arial,Helvetica,sans-serif;overflow-wrap: break-word; word-wrap: break-word; -webkit-hyphens: auto; -ms-hyphens: auto; -moz-hyphens: auto; hyphens: auto;}
                                   p.pag { color:#ffffff; padding:0 8% 0 8%;}

                        p.formata { padding:0 5% 0 5% ;color:#12263a; font-size:x-small;font-
family:Freight_Neo_Pro, Monospace, courier new ;}

                               p.combinado:first-letter { 
				        padding:0 5% 0 5% ;
	                                   color: #239981; 
				       			float: left;
	                                               font-size:xx-large; 
				                       font-weight: bold;
                                                        }


                         span.drop{ 
                                float: left;
                                font-family:Freight_Neo_Pro, Monospace, courier new ;
                                 font-style:italic;
                                   font-size: 550%;
                                       font-weight: bold; 
                                           color: #239985;
                                                   }
                          sup {color:blue;font-weight: 900; }

                #filete {border:0.1em solid;padding: 2% 2% 2% 2%;}
                #folha {text-align:left;background-color:#f9f9f9;width: 75%;margin: 0 
auto;border:1px solid blue;overflow:hidden;
                              padding: 2% 2% 2% 2%;}
                   #meia { text-align:justify;width:41%;padding:5% 4% 5% 
4%; overflow:hidden;overflow-wrap: break-word; word-wrap: break-word; -webkit-hyphens: 
auto; -ms-hyphens: auto; -moz-hyphens: auto; hyphens: auto;}
                    
                     #inteira { text-align:justify;background-color:#ffffff;width:91%;padding:2% 
4% 2% 4%; overflow:hidden;overflow-wrap: break-word; word-wrap: break-word; -webkit-hyphens: 
auto; -ms-hyphens: auto; -moz-hyphens: auto; hyphens: auto;}
	          #caixa{text-align:justify;background-color:#c2c8c3;width:91%;padding:2% 4% 2% 
4%; overflow:hidden;overflow-wrap: break-word; word-wrap: break-word; -webkit-hyphens: auto; -ms-
hyphens: auto; -moz-hyphens: auto; hyphens: auto;}

input[type=radio]:not(old):checked +  label > span > span{
  display          : block;
  width            : 0.5em;
  height           : 0.5em;
  margin           : 0.125em;
  border           : 0.0625em solid rgb(115,153,77);
  border-radius    : 0.125em;
  background       : rgb(153,204,102);
  background-image :    -moz-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :     -ms-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :      -o-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image : -webkit-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :         linear-gradient(rgb(179,217,140),rgb(153,204,102));
}


/* codigo css para organograma */

.organigrama * {
  margin: 0px;
  padding: 0px;
}

.organigrama ul {
	padding-top: 20px;
  position: relative;
}

.organigrama li {
	float: left;
  text-align: center;
	list-style-type: none;
	padding: 20px 5px 0px 5px;
  position: relative;
}

.organigrama li::before, .organigrama li::after {
	content: '';
	position: absolute;
  top: 0px;
  right: 50%;
	border-top: 3px solid #08172C;
	width: 50%;
  height: 20px;
}

.organigrama li::after{
	right: auto;
  left: 50%;
	border-left: 3px solid #08172C;
}

.organigrama li:only-child::before, .organigrama li:only-child::after {
	display: none;
}

.organigrama li:only-child {
  padding-top: 0;
}

.organigrama li:first-child::before, .organigrama li:last-child::after{
	border: 0 none;
}

.organigrama li:last-child::before{
	border-right: 3px solid #08172C;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
	border-radius: 0 5px 0 0;
}

.organigrama li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

.organigrama ul ul::before {
	content: '';
	position: absolute;
  top: 0;
  left: 50%;
	border-left: 3px solid #08172C;
	width: 0;
  height: 20px;
}

.organigrama li a {
	border: 2px solid #07175B;
	padding: 1em 0.75em;
	text-decoration: none;
	color: #333;
  background-color: rgba(255,255,255,0.5);
	font-family: arial, verdana, tahoma;
	font-size: 0.85em;
	display: inline-block;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  transition: all 500ms;
}

.organigrama li a:hover {
	border: 1px solid #fff;
	color: #ddd;
  background-color: rgba(255,128,0,0.7);
	display: inline-block;
}

.organigrama > ul > li > a {
  font-size: 1em;
  font-weight: bold;
}

.organigrama > ul > li > ul > li > a {
  width: 8em;
}
pre { color:#12263a; font-size:small;font-
family: Monospace, Courrier New ;}

table {border: 0px solid black; border-spacing: 10px; border-collapse: separate;
         background: #B4C9E2; }
table td{border: 1px solid black; text-align: center; padding: 5px; margin: 5px}
